body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background-image:url('../public/spaceX.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #2aedffea;
  line-height: 1.2;
  text-shadow: 1px 8px 1px #7c02ff97;
}

h1 span {
  padding: 5px 15px;
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.5em auto 2em;
  max-width: 90%;
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 #ad42ff, 0 5px 10px #2aedffea;
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: #ad42ff;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}


/* Mobile */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) { 

    h1 {
      font-size: 3em;
      text-shadow: 1px 4px 1px #7c02ff97;
    }

    html {
      display: flex;
      align-items: center;
      justify-content: center;
    }

      
  .dictionary {
    max-width: 80%;
  }

  dd dl {
    letter-spacing: 0.33px;
    max-width: 100%;
  }

}



/* Tablet */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {


    h1 {
      font-size: 3.5em;
      text-shadow: 1px 6px 1px #7c02ff97;
    }

    html {
      display: flex;
      align-items: center;
      justify-content: center;
    }

      
    .dictionary {
      max-width: 50%;
    }

    dd dl {
      letter-spacing: 0.33px;
      max-width: 100%;
    }


}


/* Footer */
footer {
  display: flex;
  justify-content: center;
  height: 3.5em;
  align-items: center;
  color: #fff;
}

.font-semibold {
  color: #2aedffea;
  font-weight: 700;
}